@import '../../styling/entry';

.Header {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
    margin-top: 32px;
    justify-content: space-between;
    align-items: center;

    &__image {
        flex: 1;
        flex-direction: column;
        display: flex;
        justify-content: space-between;

        img {
            flex: 1;
            max-width: 100%;
        }

        svg {
            flex: 1;
        }
    }
    &__text {
       flex: 1;
    }
}

@keyframes swing {
    0% { transform: rotate(8deg); }
    100% { transform: rotate(-8deg); }
}